.cards__item {
  box-sizing: border-box;
  width: 300px;
  min-height: 237px;
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}

.cards__image {
  display: block;
  width: 100%;
  height: 168px;
  object-fit: cover;
}

.cards__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 14px;
  margin-left: 14px;
}

.cards__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.5px;
  max-width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__like {
  min-width: 14px;
  height: 12px;
  background-image: url(../../images/cards-like.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 18px;
}

.cards__like:active {
  cursor: pointer;
}

.cards__like:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cards__like_active {
  opacity: 1;
  background-image: url(../../images/cards-like-filled.svg);
}

.cards__duration {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.3px;
  color: #A0A0A0;
  margin-left: 14px;
  margin-top: 14px;
}

.cards__delete-button {
  background-image: url(../../images/delete-button.svg);
  width: 7px;
  height: 7px;
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 21.5px;
  align-self: center;
  cursor: pointer;
}

.cards__info-saved {
  cursor: pointer;
}

.cards__description_type_saved {
  cursor: pointer;
  
}

@media screen and (min-width: 665px) {
  /* .cards__item {
    width: 339px;
    min-height: 262px;
    border-radius: 6px;
  } */
}

@media screen and (min-width: 768px) {
  .cards__item {
    width: 339px;
    min-height: 262px;
  }

  .cards__image {
    height: 190px;
  }

  .cards__title {
    font-size: 13px;
    line-height: 15.7px;
  }

  .cards__duration {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .cards__item {
    width: 364px;
    min-height: 281px;
  }

  .cards__image {
    height: 203px;
  }

  .cards__info {
    margin-top: 16px;
    margin-left: 16px;
  }

  .cards__duration {
    margin-left: 16px;
  }

  .cards__title {

  max-width: 290px;
  }
}