.section-title {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-top: 70px;
  border-bottom: 1px solid #000;
  padding-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .section-title {
    margin-top: 90px;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 23px;
  }
}

@media screen and (min-width: 1024px) {
  .section-title {
    margin-top: 110px;
  }
}