.profile {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /* height: 100vh; */
  /* height: 100%; */
  /* height: calc(100% - 74px); */
}

.profile__content {
  max-width: 410px;
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.profile__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form-profile {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}

.form-profile__input-group {
  margin: 0;
  margin-top: 80px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.3px;
}

.form-profile__input-text-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-profile__input-title {
  margin: 0;
  padding: 0;
}

.form-profile__input-text-group:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}

.form-profile__input-text-group:last-of-type {
  padding-top: 17px;
}

.form-profile__input {
  width: 215px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: end;
  pointer-events: none;
}

.form-profile__input_enable {
  pointer-events: visible;
}

.form-profile__input::placeholder {
  color: #000;
  font-weight: 400;
  line-height: 13.3;
}

.profile__buttons-group {
  /* flex-grow: 2; */
  padding-bottom: 40px;
  margin-top: 379px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile__buttons {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  cursor: pointer;
  background: none;
  border: none;
}

.profile__buttons:hover {
  opacity: 0.7;
}

.profile__buttons_color_red {
  color: #EE3465;
  margin-top: 16px;
  font-weight: 500;
  text-decoration: none;
}

/* .form-profile__submit {
  margin-top: 223px;
  display: none;
  visibility: hidden;
}

.form-profile__submit_enable {
  visibility: visible;
  display: block;
} */

.form-profile__submit {
  margin-top: 0;
}

.form-profile__submit-group {
  height: 79px;
  margin-top: 189px;
  display: none;
  visibility: hidden;
}

.form-profile__submit-group_enable {
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-profile__submit_enable {
  margin-top: 34px;
} 

.form__error_profile {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #FF004C;
}

.profile__buttons-group_disable {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .profile__content {
    margin-top: 236px;
  }

  .form-profile__input-group {
    margin-top: 96px;
  }

  .profile__buttons-group {
    margin-top: 210px;
  }

  .profile__buttons {
    font-size: 13px;
    line-height: 15.7px;
  }

  
}

@media screen and (min-width: 1024px) {
  .profile__content {
    margin-top: 74px;
  }

  .form-profile__input-group {
    margin-top: 123px;
  }

  .profile__buttons-group {
    margin-top: 220px;
  }
}