.page {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  background-color: #FAFAFA;
  max-width: 100%;
  min-width: 320px;
}

.page__container {
  max-width: 1280px;
  margin: 0 auto;
}

.page-padding {
  padding: 0 18px;
}

.profile-padding {
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  .page-padding {
    padding: 0 50px;
  }
}

@media screen and (min-width: 920px) {
  .page-padding {
    padding: 0 70px;
  }
}